
<div  class="container">
  <div class="row">
    <div class="col-md-4 offset-md-5 col-sm-1 offset-sm-8 col-1 offset-4 heading">
  <h1 class="heading">About us </h1>
    </div>
  </div>
  <div class="row">
  <div class="col-12 heading">
<p class="lead">Instra Corporation is a company based in Melbourne, Australia. Formed in 1997, Instra Corporation has expanded its initial Domain Name business from New Zealand and Australia into a leading, world-wide Domain Registrar.

  We supply domain names in 250 countries worldwide and have direct accreditations with over 60 Registries. Many companies and household brand names from around the world take advantage of Instra’s unique and sophisticated “Reseller portal” to actively manage their online intellectual property. Our customers come from over 200 different countries.

  Instra® is active in ensuring we are constantly providing our customers with new domain name spaces, and are regularly updating our domain name offering from around the world. Instra® is first in ensuring we offer our valued corporate customers with knowledge about new spaces that are becoming available and the Registry processes required to secure these domain names.
</p>
  </div>
  </div>
</div>
