.companyName{
  font-size: 150%;
}
.logo{
  width:80px;
  height: 40px;
  background-color:#ffffff;
}
.companyName{
  background-color:#ffffff;
}
.hero-text-box {
  position: absolute;
  width: 1140px;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.mat-toolbar{
  height: 7vh;
}
.mat-sidenav-container{

  min-height: 93vh !important;
}

a{
  text-decoration: none;
  font-size: 110%;
  white-space: normal;
}
a:hover{
 background-color: #ffffff;
}
.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

.mat-sidenav-content{
  font-size: 200%;

}
